[2014-07-09 21:39] PeteGoo opened #1 "Need to restrict commit messages to 10 - also configurable?"

[2014-07-09 21:41] PeteGoo opened #2 "If the channel does not exist no error is logged"
@dkarzon had an issue with not specifying a "#" for a channel name and silently failed.

Apparently there is an error in the message body.

Also occurs if the token is invalid - we really need to add this to the logs (do not believe the 200 - OK)

[2014-07-16 06:06] dkarzon opened #3 "Better support for test results"
When success, show the number of tests that passed

When build success but tests failed make the colour orange, and show the number of tests that passed and failed.

When a build fails keep it red.

[2014-08-27 22:42] PeteGoo opened #4 "More flexible configuration"
The following features of the notifications should be configurable, both default in XML and on configuration UI.
- [x] Show Build Agent?
- [ ] Commit Details
  - [ ] Revision / Commit #
  - [ ] User name
  - [x] Commit Messages
  - [x] A short vs detailed? Where short is comma delimited list of committers
- [ ] @mention Users? How to get user names?

[2014-08-28 03:34] PeteGoo opened #5 "Support for Webhooks tokens"
We currently use an API token which is tied to a user.

We should allow a integration token (Incoming Web Hooks) and if we can recognise that we have one of these (How?) use the incoming webhooks API to send the message instead of chat.postMessage.

[2014-08-29 00:02] bittercoder opened #6 "Show build time in build complete/failed notifications."

[2014-08-29 00:03] bittercoder opened #7 "Show git branch that build is for"

[2014-08-31 10:47] #2 closed, assigned to nobody

[2014-08-31 12:14] #5 closed, assigned to nobody

[2014-09-01 11:45] #7 closed, assigned to nobody

[2014-09-01 11:47] #6 closed, assigned to nobody

[2014-09-01 11:48] #1 closed, assigned to nobody

[2014-09-18 04:34] timjrobinson opened #8 "[null] appearing after build number in slack"
When notifications come into slack they look like this:

![Image](http://i.imgur.com/v3lmzOp.png)

Any idea what the [null] is? It would be awesome if instead of null it had [succeeded] or [failed] as then it would appear in the desktop notification so I could see at a glance whether I need to investigate a failed build or not.

[2014-09-29 07:19] #8 closed, assigned to nobody

[2014-10-10 09:29] PeteGoo opened #9 "Option to mention @channel when the build fails"
There should be the option to mention the whole channel when the build fails. This excellent suggestion brought to you by the wonderful @wows.

[2014-10-11 02:38] #9 closed, assigned to nobody

[2014-10-13 02:08] PeteGoo opened #10 "Make the @channel also say "Build Broken""
Notifications on mobile devices just say :up_arrow: @channel so we should probably add "Build Broken". Courtesy of @robfe

[2014-10-24 20:44] Restuta opened #12 "Feature idea: It would be nice to be able to specify mappings between TeamCity and Slack users"
So in case of failure plugin can mention a person who broke the build, or even PM.

[2014-10-31 18:20] taschmidt opened #13 "Global notifications"
Can we get a way to set up notifications globally?  If I go to the Slack tab on the `<Root Project>`, it's blank.

[2014-11-12 21:52] workmaster2n opened #14 "Icon does not appear on failed builds"
Great tool. Thanks for writing it.

When we get a failed build, we are not getting the icon in the slack window.  Successful builds show the TC logo.

Is this expected?

[2014-11-12 22:47] #14 closed, assigned to nobody

[2014-11-18 10:09] clain23 opened #15 "Use TeamCity variable in channel name"
It would be great to have ability to specify something like `#%teamcity.projectname%` in channel name to publish messages for separate projects when using templates.

This issue depends on https://github.com/PeteGoo/tcSlackBuildNotifier/issues/13

[2014-11-19 20:15] PeteGoo opened #16 "Support User Specific Notifications"
If we implement a [Custom Notifier](http://confluence.jetbrains.com/display/TCD8/Custom+Notifier) we can have each user enter their Slack username and then notifications of their failed builds will go directly to them in @slackbot

[2015-01-15 10:54] philjones88 opened #17 "Documentation outdated?"
Hi,

I've been trying to integrate this plugin with TeamCity but following the documentation is problematic.
I can't see a way to generate an OAuth token like shown.
I've tried creating a bot to obtain a token but this doesn't seem to work.
Also could you expand on:

* your team name
Could we have some examples? E.g. is it just "Foo" or "foo.slack.com" ?

* defaultChannel
Could you say if it needs

[2015-01-18 15:29] jchannon commented on #17
+1

[2015-01-18 18:54] PeteGoo commented on #17
Hi, sorry for the delay.

The team name is just foo, channels should be prefixed with a #.

For the token, go to https://api.slack.com/web and look down the page for a way to generate the token (of you haven't already)

[2015-01-22 20:56] PeteGoo commented on #16
Another way of doing this (suggested by @robfe) was to tell slack to mention you on "@username" and then just mention @vcsusername when the build fails.

[2015-01-23 08:39] #17 closed

[2015-01-27 10:11] PeteGoo commented on #16
Done!

[2015-01-27 10:11] #16 closed

[2015-01-27 10:12] PeteGoo commented on #15
Hmmm. I wonder if the plugin can read that. Not sure, will have to have a look.

Thanks for the suggestion

[2015-01-27 10:13] PeteGoo commented on #12
OK, This has now been done in the latest release. Check out the [wiki page](https://github.com/PeteGoo/tcSlackBuildNotifier/wiki/User-Configuration) for more info.

[2015-01-27 10:13] #12 closed

[2015-01-27 10:13] PeteGoo commented on #10
Should now be more obvious.

[2015-01-27 10:13] #10 closed

[2015-01-30 22:41] dszabo opened #18 "specify more than one teams"
It'd be great if I could specify user, token and team name project wide in teamcity (not just the channel), since we have multiple slack teams.

[2015-01-31 00:22] PeteGoo commented on #18
I was wondering if this would become a scenario.

Project level could be doable.

[2015-01-31 07:28] dszabo commented on #18
thanks for the comment! Btw I tried to build from sources with mvn package command, but I get maven dependency exceptions. Is the HEAD builds now correctly and something is just misconfigured on my side?

[2015-01-31 08:02] PeteGoo commented on #18
Yeah, in master there is a a build failure but the web-ui project output should still contain the working zip package.

This is fixed in a feature branch I have.

[2015-02-05 22:05] uldissturms opened #19 "Proxy settings are not working"
Proxy settings are not taken into account when provided in expected format:
[code]

This down to how SlackNotificationListener sets proxy for slackNotification in getFromConfig method. This is not the only problem though, still investigating.

[2015-02-06 10:06] mfloryan opened #22 "Consider using incoming webhooks for integration"
Rather than using oauth for a particular user perhaps the integration could be done via the incoming webhooks
https://api.slack.com/incoming-webhooks

[2015-02-06 10:07] PeteGoo commented on #22
This should actually be supported. The documentation probably just needs to be udpated

[2015-02-07 06:18] PeteGoo commented on #4
Think this is mostly done now.

[2015-02-07 06:18] #4 closed

[2015-02-07 06:20] #22 closed

[2015-02-07 06:20] PeteGoo commented on #19
Can we close this now?

[2015-02-07 12:00] uldissturms commented on #19
Yep, should be working now. Cheers mate! There are a couple things I'm currently working on since our proxy server is... well special. To add proxy auth please take a look at this commit: https://github.com/uldissturms/tcSlackBuildNotifier/commit/dc6dacba481e648c509397bff78f7556a1d53d86. Just ignore the hardcoded scheme bit
[code]
should be
[code]
to use https proxy for https.

[2015-02-07 19:14] PeteGoo commented on #19
No worries. I'll close this then.

[2015-02-07 19:14] #19 closed

[2015-02-07 20:49] cobrowserAlex opened #25 "Teamcity 9"
I have installed the plugin successfully in tramcity 9.0:
[code]
But I can't find it anywhere. Is it supposed to work in TC9?

[2015-02-08 09:00] PeteGoo commented on #22
This has now been tested and should work in the the newest release

[1.2.0](https://github.com/PeteGoo/tcSlackBuildNotifier/releases/tag/1.2.0)

[2015-02-08 09:02] PeteGoo commented on #17
The latest release [1.2.0](https://github.com/PeteGoo/tcSlackBuildNotifier/releases/tag/1.2.0) now has a test notification button in the new Admin page.

[2015-02-10 21:03] mfloryan opened #28 "Long list of projects displays incorrectly"
![Long list of builds overlapping the buttons](https://cloud.githubusercontent.com/assets/448107/6136060/a114bd4e-b165-11e4-9b20-d9b8a6a0586b.png)

When the list of builds is long it overlaps with the buttons at the bottom of the frame of the slack UI.
(in TeamCity Professional 9.0.2 (build 32195), on the Chrome browser)

[2015-02-10 23:41] mobilitus-buildmaster opened #29 "truststore issues"
thanks for neat plugin.

I had some trust issues with the setup (teamcity 9 on a mac mini with a fresh yosemite install)

These guidelines resolved them for me

http://stackoverflow.com/questions/4764611/java-security-invalidalgorithmparameterexception-the-trustanchors-parameter-mus

(so not an issue, just a note to save someone some time)

[2015-02-11 03:40] PeteGoo commented on #29
Can you elaborate on your scenario and which answer was the resolution? I'll add it to the docs

[2015-02-14 21:35] mobilitus-buildmaster commented on #29
I installed tcSlackBuildNotifier the recommended way on a Mac Mini, with a fresh Yosemite install (with java 1.6  Apple distro).  Key o is that the keystore was empty.

The UI only gave me vague error messages when I tried to send a test message (message could not be sent), but in one of the logs (don't remember which one)  I saw "java.security.InvalidAlgorithmParameterException: the trustAnchors

[2015-02-15 06:41] #28 closed

[2015-02-15 06:53] PeteGoo commented on #29
I've [written it up in a FAQ](https://github.com/PeteGoo/tcSlackBuildNotifier/wiki/FAQ#i-get-a-javasecurityinvalidalgorithmparameterexception-the-trustanchors-parameter-must-be-non-empty-error). Can you have a look and close this issue if you are happy?

[2015-02-18 08:05] mimse opened #31 "Exception when trying to config TeamCity: 7.1.4 (build 24331)"
Hope you can help with this

Unexpected Error

This was not supposed to happen. Please provide the error details to your TeamCity server maintainer.
If you maintain this TeamCity installation please report this error to JetBrains.

Error message: none available
TeamCity: 7.1.4 (build 24331)
Operating system: Windows NT (unknown) (6.2, x86)
Java: 1.6.0_31-b05 (Sun Microsystems Inc.)
Servlet contain

[2015-02-18 11:02] PeteGoo commented on #31
Looks like that method getProjectPath was added in 8.0.

Is there a reason you've stayed on 7.1?

[2015-02-18 11:49] mimse commented on #31
The company I work for have not made it a priority to keep it updated. It's a enterprice license so it cost quite a bit of money to upgrade

[2015-02-18 12:10] mimse commented on #31
Dont use to much time fixing it. But if its a quick fix, it would be really nice if you would do it :-)

[2015-02-18 22:28] mobilitus-buildmaster commented on #29
looks good :+1:

[2015-02-18 22:28] #29 closed

[2015-02-21 03:29] PeteGoo commented on #25
It should do. Which release did you download? Did you drop the zip file into the plugins folder or upload it via the web ui?

[2015-02-21 23:08] PeteGoo commented on #25
I've just tested the latest (1.2.0) with TC 9.0.2 and seems to install fine and the admin page shows up correctly. I would still love to know your scenario though.

[2015-02-23 08:49] cobrowserAlex commented on #25
hmm i'll give it atry again

[2015-02-23 13:03] cobrowserAlex commented on #25
It's my own stupidity -> rtfm
I didn't put the realease zip, but i put the zip of the repo in the plugins dir.
Works like a charm.
Thanks and sorry

[2015-02-23 13:03] #25 closed

[2015-02-23 18:11] PeteGoo commented on #25
No worries. Glad it's now working
On 24 Feb 2015 02:03, "cobrowserAlex" <notifications@github.com> wrote:

[2015-03-01 10:55] PeteGoo commented on #3
I've added support for displaying the tests that have failed.

https://github.com/PeteGoo/tcSlackBuildNotifier/releases/tag/1.4-beta

[2015-03-05 19:28] gwynnebaer opened #34 "feature: configuration request: list "person who broke the build" on all build failures"
Currently the person who broke the build only appears on the first failure.

We would like to see the user listed on all failures (so we don't have to hunt them down if we re-run the build for some reason to check some other issue).

Thank you.

[2015-03-05 20:24] PeteGoo commented on #34
Hi, thanks for the feedback. The reason I chose this option was to stop a sequence of failures spamming everyone who committed subsequent to the problem but that .

I'm currently battling two factors here:
- Which is the lesser of two evils above?
- How do I stop the configuration page being "option overload"

Thoughts?

[2015-03-06 02:01] kepheusikarius opened #35 "Filter branch builds"
We're using gitflow and I end up getting notifications on all my feature branches, which isn't really interesting to me. I'd rather just have it for a couple branches like develop and master. Is this feasible?

[2015-03-06 18:24] gwynnebaer commented on #34
My opinion:
checkbox for displaying "commit info" (user, commit log) or not
  Behavior: if checked, all notices contain this information. Unchecked, nothing.
I agree there seems to be a loop issue (all of the notices show up twice in Slack, but wasn't sure yet if that was my fault).
And shameless plug for <Root Project> global configuration support (our use of TC is pretty vanilla). :-D

Thanks,
-

[2015-03-07 02:43] PeteGoo commented on #35
I'll have to see if the branch filter syntax is in a public api.

We currently have 2 different builds for PRs and master, mainly because we trigger more extensive tests on master.

[2015-03-10 20:03] ZevEisenberg opened #37 ""Only trigger when build changes from Success to Failure" not saving"
I have "Trigger when build Fails" enabled on a project, and I want to enable the sub-checkbox "Only trigger when build changes from Success to Failure". So I check the box, click Save. If I close the configuration popup and then open it again, the box remains checked, but if I refresh the page and then click Edit again, that box reverts to unchecked. All of the other boxes seem to be saving correc

[2015-03-10 20:05] PeteGoo commented on #37
Yup this sounds like a bug. What version are you on?

[2015-03-10 21:10] ZevEisenberg commented on #37
TeamCity 8.1.4
tcSlackBuildNotifier 1.4.0

[2015-03-10 21:16] PeteGoo commented on #37
Wicked. Thanks so much for reporting this. I'll have a look and let you know the result

[2015-03-12 20:40] ansel1 commented on #37
I've seen this too.  Seeing it since at least 1.2 (on 1.4 now)

[2015-03-13 07:31] #37 closed

[2015-03-13 07:38] PeteGoo commented on #37
Fixed in [1.4.1](https://github.com/PeteGoo/tcSlackBuildNotifier/releases/tag/1.4.1)

Check it out and let me know if it's all good. Thanks again.

[2015-03-16 08:09] hmemcpy opened #38 "TeamCity 9 support"
Unfortunately, this very excellent plugin seems to be broken on TeamCity 9 (I'm using 9.0.3).
The 'Slack Notifications' menu is missing from the Administration page (the Slack configuration dialog still works, though)...

[2015-03-16 08:12] PeteGoo commented on #38
I'll have a look now. I've been testing on 9.0.2.

[2015-03-16 08:12] PeteGoo commented on #38
Can you quickly check if there are any error messages in the teamcity-server.log file?

[2015-03-16 09:05] PeteGoo commented on #38
Just tested with TeamCity 9.0.3 (build 32334) and all seemed good.

Can you see if you can get something meaningful from the logs in the Diagnostics section? You may have to switch on debug logging there.

[2015-03-16 09:07] hmemcpy commented on #38
Oh god, I'm sorry :disappointed:
It seems that we had a very old version of this plugin running, and TC was upgraded this morning from v8.
I just placed the latest version of the plugin (1.4.1), and everything works great again in TC9.

Sorry for the bother, and thanks!

[2015-03-16 09:07] #38 closed

[2015-03-16 09:08] PeteGoo commented on #38
Hey, no worries. Glad you are enjoying the plugin.

[2015-03-18 10:52] 47th opened #39 "Start build notification shows question marks instead of variables in build version"
We use custom variables to populate build version (vcs version). Start build notification shows question marks instead of variable value.

[2015-03-22 03:27] PeteGoo commented on #39
Does this only apply to the "Build Started" notification?

It might be that we have no good way of getting the version information.

[2015-03-23 07:30] 47th commented on #39
Yes, this only applies to "Build started" notification. It appears that variable values are being populated at a later stage and therefore appear as question marks.

I also tried built-in email notifier for the same build and it resolves variables in start build event correctly.

[2015-03-23 07:58] PeteGoo commented on #39
Eek. I wonder how they're doing it
http://javadoc.jetbrains.net/teamcity/openapi/8.1/jetbrains/buildServer/Build.html#getBuildNumber()

[2015-03-26 17:25] naineshmehtaerm commented on #31
What is the fix to this issue, I also have the same issue whereby we are stuck on version 7

[2015-03-26 18:06] mimse commented on #31
I have not found one

[2015-03-30 14:46] workmaster2n opened #40 "Administration Section Missing"
I installed the plugin a couple months ago and it's been working great. I decided to rotate my API token due to the [recent Slack security breach] (http://slackhq.com/post/114696167740/march-2015-security-incident-and-launch-of-2fa), but when I go to TeamCity, the Slack Notifications section is not on the Admin Page.

Is this expected behavior (once it's configured, the admin section disappears) o

[2015-03-30 18:11] PeteGoo commented on #40
Gah! Nope that's not expected. Can you check the TeamCity server log and see if there is an error from the admin page trying to load?

[2015-04-08 12:47] borismod opened #41 "Does not work on TeamCity 8.0.5"
I configured everything as required, "test connection" worked fine. I've added my slack username on the Notifications page and configured a Slack Notification. It does not send any notifications.

[2015-04-08 14:18] jaroslavurban commented on #41
Check the Slack tab as well on Project page, not only in user notification setting. Once I configured notification at project level, it starts working. Hope it helps.

[2015-04-08 14:27] borismod commented on #41
@jaroslavurban thank you for your quick reply. Do you mean on the notifications page? I configured like this, and it still does not work:
![image](https://cloud.githubusercontent.com/assets/209971/7047327/7cff8fa2-de14-11e4-9c1d-b4228cb4726a.png)
Any idea?

[2015-04-08 15:05] jaroslavurban commented on #41
that is just first step, now you need to set it as well at project, see screenshot.

![tc_slack](https://cloud.githubusercontent.com/assets/1242980/7048148/6959a85a-de11-11e4-8573-722f4030c93f.png)

[2015-04-08 15:20] borismod commented on #41
Thanks! Yes, it started working! Thanks for the quick reply!

[2015-04-08 15:21] #41 closed

[2015-04-11 09:07] PeteGoo commented on #40
Any update on this? Did you manage to find the logs?

[2015-04-13 14:52] workmaster2n commented on #40
Sorry, got sidetracked on another project at work. Will take a look for those logs this afternoon.

[2015-04-13 16:19] workmaster2n commented on #40
Did  a server restart. Still no admin section. Here is the log output, but I'm not seeing anything that looks like a failure.

[code]

[2015-04-15 21:42] PeteGoo commented on #40
Yeah, nothing suspect in there. Normally any issues will appear in there. There are other log files that may show something in the same folder. Perhaps they have some more info in them.

Failing that I would re-download the package zip and put it in the plugins folder, make sure to remove any other versions in there.

[2015-04-24 15:57] Cryowatt opened #43 "Allow filtering out snapshot dependency failures"
My team's build configuration contains a number of projects that are chained together. If the first project in the chain fails, then all of the other projects won't build due to the failed dependency. Unfortunately I get slack notifications for all of the sub projects, which I don't really care about because they aren't the root cause. So an option to filter out real failures from snapshot depende

[2015-04-28 04:19] nafg commented on #18
+1

[2015-04-29 14:09] workmaster2n commented on #40
Finally got the courage to delete the plugin and reinstall. Admin panel popped right back up. Thanks.

PS - This plugin is 51% of the reason we like slack so much. Thanks for such a great tool

[2015-04-29 14:10] #40 closed

[2015-04-29 14:39] Shayac commented on #18
+1

[2015-04-30 02:31] PeteGoo commented on #18
I'm interested in more info on what this should look like.

For example, there could be a section on the project Slack tab....?

[2015-05-04 03:01] silverprize opened #44 "tomcat6 support"
Hi
I've faced problem with tomcat6.
[tomcat6 can't find custom EL function without prefix.](http://stackoverflow.com/questions/18961316/the-function-getmessagedata-must-be-used-with-a-prefix-when-a-default-namespace)
Do you have plan to support tomcat6?

tomcat6 log
---

`
May 04, 2015 9:50:43 AM org.apache.catalina.core.ApplicationDispatcher invoke
SEVERE: Servlet.service() for servlet buildServe

[2015-05-04 09:02] nafg commented on #18
I think there should be a global screen to edit the list of teams and endpoints, and then each notification specification has to choose a team.

[2015-05-11 09:33] ruudk commented on #35
:+1:

[2015-05-25 12:21] sergiivolchkov commented on #13
+1, would be very useful.

[2015-06-08 10:50] Youkai-no-nii-chan commented on #13
+1. We have over 20 projects so it rather tiresome to set notifications for all of them.

[2015-06-08 13:07] Youkai-no-nii-chan opened #46 "Mention does not work"
Mention of user that has broken the build does not work beacuse it is written inside message attachment.
http://screencast.com/t/5eITBpGlJ

For mention to work it should be written in the text message before attachment.

[2015-06-09 23:45] PeteGoo commented on #46
Hi, one of the issues we are seeing is that, on GitHub PRs, mentions seem to occur for anyone who has ever committed to the codebase at all.

[2015-06-15 11:41] maartenc commented on #13
+1

[2015-06-15 12:48] mattgibson commented on #44
Just ran into this too. Works if you upgrade to Tomcat 7.

[2015-06-15 13:24] silverprize commented on #44
@mattgibson :cry: I know.
But unfortunately i don't have permission to touch tomcat.
I'll customize it.
Thank you.

[2015-06-15 13:24] #44 closed

[2015-06-17 15:23] Youkai-no-nii-chan commented on #46
But i'm talking about other issue. Even if mention is correctly inserted into message there is no notification because mention is inside attachment (part of the message with red line to the left).

[2015-06-17 17:40] jamescrowley commented on #35
:+1:

[2015-06-22 16:05] owst opened #47 "Cannot add notification for _Root project"
We'd like to add a notification for the root project, but the Slack tab is blank (i.e. there is no content, and in particular, no link to edit the project slack notifications).

I can however manually edit the url to '/TCHOST/slacknotifications/index.html?projectId=_Root', and can then click add notification, but there are no project builds or subproject builds listed, and clicking save doesn't se

[2015-06-22 19:01] PeteGoo commented on #47
Hi Owen,
This is probably one of the most requested features and is the next thing I
will work on when I get some time. Unfortunately I can't guarantee when
that will be but I'm hoping not too long.

On Tue, 23 Jun 2015 4:05 am Owen Stephens <notifications@github.com> wrote:

[2015-07-28 19:20] humblehacker opened #51 "Failed to send notification!"
I've got the plugin installed and configured, but when I try to send a test notification, an alert pops up with "Failed to send notification!".  The server log displays the following:

Followed by a stack trace:
[code]

TeamCity Professional 9.1 (build 36973)
tcSlackBuildNotifier v1.4.2

Any advice would be appreciated.

[2015-07-28 20:33] humblehacker commented on #51
Following the advice of this [SO answer](http://stackoverflow.com/a/19680689/593170) solved this issue for me.

[2015-07-28 20:33] #51 closed

[2015-07-28 21:29] PeteGoo commented on #51
Awesome. Glad you got it sorted.

[2015-08-14 21:18] Falconne opened #52 "Test failure notification does not include failed tests if build config has any muted tests"
If the build fails due to test failures and you have muted tests, the "Failure Reason" in the notification mentions the muted tests instead of the actual test failures.

[2015-08-31 06:15] rameshdharan opened #53 "Add support for @here notifications?"
It would be great if the plugin supported '@here' notifications similar to the current support for '@channel'.

[2015-09-02 15:59] AlexeyDmitriev commented on #35
It would be also ok if you allowed to send messages to different channel instead of just username in per-person settings

[2015-09-02 23:33] kepheusikarius opened #54 "Select specific sub-projects for notifications"
I'd love to be able to choose which sub-projects send notifications. We lump our unstable builds into sub-projects, but I'd still like notifications to go out for a couple of them.

[2015-09-24 18:19] gwin003 opened #55 "Do not send notification if failed build is a personal build"
We use Visual Studio pretested commits to TeamCity fairly often, and it would be awesome if this plugin didn't send the notification to slack if the build was a personal one.

[2015-09-24 19:53] PeteGoo commented on #55
Aha! Good point. I've never used them myself. Sounds like a pretty trivial
fix if you feel game?

On Fri, 25 Sep 2015 6:20 am Adam Gwin <notifications@github.com> wrote:

[2015-09-24 19:56] gwin003 commented on #55
Sure, I'll give it a shot sometime this weekend and see what I can do. Thanks! :)

[2015-09-27 01:14] signetik-spp opened #56 "Success or Failure sends two notifications"
Every build seems to send to final notifications that are nearly identical. The only difference is the second one has "Elapsed" time.

[2015-09-27 01:42] PeteGoo commented on #56
Have you got the `Almost Completed` trigger set? This is pretty much never useful.

[2015-09-27 01:54] signetik-spp commented on #56
Yes, it was on. This makes sense now. Thanks!

[2015-09-27 01:54] #56 closed

[2015-10-14 13:18] l3m opened #57 "Project-specific slacks"
We have multiple teams that use different slacks, but they all build on the same TeamCity server (different projects though).

There does not seem to be a way to use different teams per server - as far as I understand, this plugin can post only to a single team.

This should be a setting that is configurable per-project.

[2015-10-22 02:24] judgeaxl opened #58 "Slack tab always says "no notifications configured", but they are"
Using TeamCity 9.1.3 on OS X, the slack tab for any project always says there are no configured notifications, however, clicking "add project slack notifications" will correctly list the configured notifications. I'm using version 1.4.2.

[2015-10-22 02:26] judgeaxl opened #59 "How to use notifications for sub-projects?"
If I configure notifications for the top project, and click in "all sub projects", does that mean the notification settings will get inherited, or just that it enables whatever notifications are configured below? I don't seem to get any notifications unless I configure individual projects.

TeamCity 9.1.3 and plugin 1.4.2.

[2015-10-22 07:51] PeteGoo commented on #58
Hmmm. Strange. Seems to work on Ubuntu.

[2015-10-26 15:13] shaneedwards commented on #57
Same issue here--we have multiple teams all using TeamCity and all have their own Slack team for separation.  We really need to be able to put the full Slack URL in notification setup rather than just the channel name.  If we could do that and supply the API key then we would have ultimate flexibility.

[2015-10-26 18:46] PeteGoo commented on #57
I am currently working on this when I find time

[2015-10-26 20:19] gzhytar commented on #57
+1 to this request.

P.S. Pete, Ive installed latest build in our production and it runs very smoothly. Kudos to you and other contributors who made this one happen and keep working on it. Good job, folks!

[2015-10-27 07:28] kpa6uk opened #60 "When "Max commits to display" in Global set to 3, in non-customized project it goes to "5""
**Steps to reproduce:**
1. Make sure plugin is v.1.4.2
2. In Administration > Slack Notifications set "Max commits to display: 3"
![screenshot](https://cloud.githubusercontent.com/assets/7301634/10751787/e3ee5c26-7c9c-11e5-9330-8a4c8fcf9605.png)
3. In project settings on Slack notification page, uncheck "Customize content
![screenshot](https://cloud.githubusercontent.com/assets/7301634/10751845/73

[2015-10-28 10:00] PeteGoo commented on #60
Thanks, sounds like a bug alright.

[2015-10-28 15:02] judgeaxl commented on #58
This might have been related to me having several levels of sub-projects and the two top levels not having any build configurations. It's working well enough right now.

 However, the setup process is a bit awkward, perhaps due to limitations in Team City's plugin model, but there are just too many clicks to get to what I need, IMHO.

[2015-10-28 19:47] aarndt opened #61 "Notification link to Build Log does not include port number"
Hello,

Our team city instance is served from a port other than 80. The Build Log URL in the slack notification does not include the port.

It appears that JetBrains' SBuildServer class does not expose a way of retrieving the port. Perhaps a custom field can be added to the plugin to specify the build server port (default to 80 if blank)

[2015-10-28 19:51] aarndt commented on #61
Apologies. This was a configuration miss on my side. As long as the build server URL is set correctly in Team City Global Settings (with the port), the link will work correctly.

Closing issue.

[2015-10-28 19:51] #61 closed

[2015-10-28 20:18] PeteGoo commented on #58
Just out of interest does this sound like the setup process?
- Download the zip
- Go to Plugins in Administration
- Upload the zip
- Restart the service
- Configure Slack Notifications Administration page
- Then configure projects

Not sure what I can do about the first 4. Could be some improvements in the experience for the last two.

[2015-10-28 20:19] PeteGoo commented on #61
Glad you got it sorted.

[2015-11-09 19:48] ghostsquad commented on #55
Or better, send the slack notification to the person associated with the personal build.

[2015-12-01 15:23] winterbe commented on #43
+1

Please add an option to ignore reason "snaphot dependency xyz failed".

Despite this annoyance I really like your plugin. Thanks for your effort!

[2015-12-01 15:28] bjoern-mahler commented on #43
+1

would be great!

[2015-12-01 15:42] markusmoormann commented on #43
+1

[2015-12-04 14:56] AliakseiT commented on #57
+1. Thanks for your work, Pete.

[2015-12-05 20:31] surg commented on #57
+1 for this feature :) Would be great to be able to specify the webhook url per notification

[2015-12-07 10:02] #57 closed

[2015-12-07 10:17] PeteGoo commented on #57
Contributed by @surg and released in 1.4.3
https://github.com/PeteGoo/tcSlackBuildNotifier/releases/tag/1.4.3

[2015-12-07 10:18] PeteGoo commented on #18
Can you check out 1.4.3 and see if it solves your issue?

https://github.com/PeteGoo/tcSlackBuildNotifier/releases/tag/1.4.3

[2015-12-08 15:11] l3m commented on #57
Amazing! Thanks a lot, @PeteGoo and @surg.

[2015-12-11 13:03] DominikPalo opened #63 "Feature request: Custom text on notifications"
It would by nice to have an option to define a custom text on notifications for specific project (for example add a "Note:" field  containng this custom text in every notification), preferably with support of build variables.

Example use case: My WPF project is automatically packed and uploaded to the Amazon S3 bucket as last step of build and I would like to put a link to download this package a

[2015-12-15 16:36] dannyNK opened #64 "IOException when sending test notification."
I cannot seem to use the plugin, I keep getting a "Failed to send notification!" when hitting the test button. I assume I've set something up wrong, but there isn't much to setup :/

I tried using both a token and a webhook. TeamCity version: 9.1 (build 36973)

Stacktrace from teamcity-server.log:

	java.io.IOException: Attempted read from closed stream.
		at org.apache.http.impl.io.ContentLengthI

[2015-12-15 20:27] PeteGoo commented on #64
Eeeek. If you swap out for the previous release, does it still error?

[2015-12-16 16:10] dannyNK commented on #64
Downgraded to 1.4.2 (I think, I changed the zip, and restarted and the log is showing 1.4.2 in its startup splurge), still seeing the same error.

[2015-12-16 16:28] dannyNK commented on #64
I deleted the slack-config.xml, filled everything out again on 1.4.2, revoked and created a new token and it worked! No idea what happened there, but I'm not seeing the issue now.

[2015-12-17 10:45] rhevesi-lmi opened #65 "Content tab changes are not saved if configured on the project level"
Hi,
Notifications work fine if I configure them on a project level, however when I change anything on the "Content" tab and save, the changes does not get saved. If I open the Content tab again, the default settings are displayed. Configuration file under pluginData folder remain untouched.
I tried to enable the "Show failure reason" option, but it seems none of the settings can be changed.
The sa

[2015-12-21 16:57] BHare1985 commented on #55
Any progress with this? we are considering to use the teamcity plugin just so we can be able to do this and not have the slack notifier spam us

[2015-12-23 16:53] KunalKapadia commented on #65
+1

[2015-12-25 22:48] slipdef commented on #65
General tab changes are not saved as well for me (9.1.4)

[2015-12-27 09:34] PeteGoo commented on #65
Weird. I've managed to repro it. Looking into it.

[2015-12-27 21:58] PeteGoo commented on #65
Ok. Found the issue. Creating a fix now

[2015-12-28 08:31] PeteGoo commented on #65
Hi folks, please try the latest release. Sorry for the inconvenience.

https://github.com/PeteGoo/tcSlackBuildNotifier/releases/tag/1.4.4

[2016-01-04 14:20] rhevesi-lmi commented on #65
I tried and the problem is still the same. However I think there must be some problem with the released zip file, because all class files are identical inside the jar. Only some text files containing the version number are different.

[2016-01-04 15:04] rhevesi-lmi commented on #65
Building the plugin from source fixes the problem so the fix is right, only the released zip file is wrong. Please replace the zip :) Thanks, Pete!

[2016-01-04 20:13] PeteGoo commented on #65
@rhevesi-lmi  I've rebuilt and updated the zip file on the release.

[2016-01-05 10:32] rhevesi-lmi commented on #65
It is fixed now, thanks!

[2016-01-05 10:32] #65 closed

[2016-01-10 20:33] thomasd3 opened #69 "When trying to add a notification, the link doesn't work"
With version 1.4.4
The link "Click to create new SlackNotification for this project" doesn't work.

In the console, I get the following message: BS.EditSlackNotificationDialog is undefined; the link has an onClick attached to it.

[2016-01-13 10:46] hex commented on #63
+1

[2016-01-19 15:29] jamesbroome commented on #35
+1

[2016-01-19 17:00] tinoutinou commented on #63
+1

[2016-01-25 21:41] SvetZari commented on #63
+1

[2016-01-31 08:21] bykes commented on #63
+1

[2016-02-09 01:17] twaggs commented on #35
Another great addition would be allowing wildcards or regex on the branch filter (e.g. 'foo-*')

[2016-02-11 05:10] pmsudhi opened #70 "Unable to Send Notification - Mattermost"
Our organization uses Mattermost. Mattermost accepts all Slack formats and all slack notifiers by default works with them. So in configuration i have given mattermost incoming webhook and while i testing the connection, it fails with below error.

[code]

[2016-02-11 20:37] PeteGoo commented on #70
Strange. Sounds like #64

[2016-02-12 03:37] pmsudhi commented on #70
Thanks I managed to identify the problem. The problem is i guess with Mattermost API (not sure applicable to slack also). The channel name is case sensitive in my case and if changed from #DEV to #dev , i able to receive notification.

Another issue noticed is icons are not appearing in the notifications in matter most. the icon URL is accessible but not displaying inside channel.

Thanks you for

[2016-02-12 03:37] #70 closed

[2016-02-15 10:35] gluckett commented on #13
+1

[2016-02-16 12:18] galkinrost opened #71 "Failure details"
Thanks for best tc plugin for slack! But could you help me to clarify where is problem in plugin or my tc configuration. My failure result looks now
![image](https://cloud.githubusercontent.com/assets/1782718/13075974/17c4f822-d4c0-11e5-8fce-88ca51a725c0.png)
But I'd like to see more details e.g. Step name, error details
![image](https://cloud.githubusercontent.com/assets/1782718/13076032/736483e6

[2016-02-16 20:08] PeteGoo commented on #71
Currently we don't pass step name or error details to the Slack notification. I suppose it's because in our scenario we use it just to notify and we expect folks to click through for the detail.

[2016-02-17 16:04] jon-karnofsky-abt opened #72 "API Token asked on every notification setup"
When adding a new notification on a project, the API Token is a listed field every time - it doesn't inherit the API Token setup in the administration area.  In the screenshot on the main GitHub page, in the "Slack Config" tab, the first field is the Channel, which makes sense, and what I'd expect to see.

Is there a configuration that is keep our admin settings API Token to be used, forcing us to

[2016-02-17 16:04] jon-karnofsky-abt commented on #72
![image](https://cloud.githubusercontent.com/assets/16245481/13115564/44ab8332-d566-11e5-8e30-d72c7b8f8d61.png)

[2016-02-18 06:53] PeteGoo commented on #72
Is it set in Global Administration -> Slack tab?

[2016-02-18 06:53] PeteGoo commented on #72
If that works then I think we need to tell people on this page where they can set it globally

[2016-03-03 19:57] wacamoe commented on #64
I'm seeing this issue in 1.4.4 - will try deleting the slack-config.xml and trying again. Currently the test notification works, but not the actual sending of the notification from a rule.

[code]

[2016-03-03 20:01] PeteGoo commented on #64
THanks. I'm pretty sure there is an HTTP error code hiding in the response somewhere that we aren't surfacing in the logs. Can you try posting manually to this endpoint via Postman or some other method and check if it works?

[2016-03-03 20:18] wacamoe commented on #64
Sure - I'll check out how to do that. FWIW, the test notification works properly, just not a regularly triggered one.

[2016-03-03 20:23] wacamoe commented on #64
Seems like the payload in the log is not a valid JSON:

[2016-03-03 12:10:30,733]   INFO -   jetbrains.buildServer.SERVER - SlackNotificationListener :: Body message will be payload=%7B%22channel%22%3A%22%40%40kyle.grymonprez%22%2C%22username%22%3A%22sc-teamcity%22%2C%22text%22%3A%22%5Cu003chttp%3A%2F%2Fsc-teamcity.glu.com%2FviewLog.html%3FbuildTypeId%5Cu003dResearch_ANotificationManagerGithub%5Cu

[2016-03-03 20:40] wacamoe commented on #64
apoligies - seems that the username I entered in the settings had "@" in it and the plugin added another "@". Could be a feature request to detect it, but removing the second "@" seems to have addressed the issues....

[2016-03-03 20:42] PeteGoo commented on #64
Awesome. Glad to hear you resolved it I'll re-open this bug to detect the correct error status and log better messages.

[2016-03-03 20:57] wacamoe opened #73 "Am I blind? Configure Project Notifications"
Hello,
   Not sure if this is an issue or I am blind, but I cannot locate where to configure project notifications. I am using TeamCity 9.1.3 and only see:

![image](https://cloud.githubusercontent.com/assets/1175063/13509280/7a62d7b6-e13f-11e5-8299-f1156ba5c9e3.png)

[2016-03-03 21:30] PeteGoo commented on #73
Hey just go to the project configuration home (where the history and stats are) and look for the Slack tab

[2016-03-04 06:18] galkinrost commented on #46
@PeteGoo Should it have to work now? With latest release i don't receive mentions too

[2016-03-04 20:57] PeteGoo commented on #46
I'll have a look

[2016-03-09 16:17] mr-fixit opened #74 "a canceled build is misreported as 'Running'"
When a build is canceled, the notification to Slack says 'Running - ...', I expected 'Canceled - ...'.

Seems like there should be a BUILD_STATUS_CANCELED variable, and that SlackNotificationPayloadContent.java:258, AKA setBuildResult() should use it.

[2016-03-15 19:52] fms615 opened #75 "IndexOutOfBoundsException"
Using webhooks, this is the result after sending test notification from setting page in TeamCity. Note, WebHooks path and username have been modified in this post.

[2016-03-15 15:44:01,413]  ERROR -   jetbrains.buildServer.SERVER - Error java.lang.IndexOutOfBoundsException: toIndex = 5 while processing request: GET '/slackNotifier/adminSettings.html?test=1&teamName=claradevelopment&defaultChannel

[2016-03-15 23:40] wacamoe commented on #73
It took me a bit - but I found it!

[2016-03-15 23:40] #73 closed

[2016-03-16 16:32] rameshdharan opened #76 "Support for @-notifying user that triggered the build?"
It'd be great if we could directly notify the user (if any) who triggered a build, when that build fails.

I tried adding a notification for @%teamcity.build.triggeredBy.username% but it appears that there's no TeamCity variable expansion pass before generating the Slack notification.

[2016-03-16 21:33] zmarrapese commented on #35
+1

[2016-03-23 08:25] bykes commented on #63
+1

[2016-03-24 11:12] mcctomsk commented on #76
It's looks like a bug. I've filled in "Slack Username" field for each developer account in TeamCity and set rules for project notifications in Slack tab to "True" on both "@channel" & "Slack User (if known)" in "mention on first failure" field. However, TeamCity BOT only mentions the @channel, but not a Slack user. I've tried to set Administration -> Users -> %username% -> Slack notifications to n

[2016-03-29 11:33] un1kum opened #77 "Problem with proxy authentication"
When using proxy authentication, every test sending a notification fails:

[code]

It seems to me that plugin require commons-codec version higher that teamcity bundled version. Attempt to up library version in teamcity leads to endless upgrade all builds agents.

[2016-03-29 14:19] mr-fixit commented on #13
Is this request not satisfied by the page at `http://teamcity.YOURTEAM.link/admin/admin.html?item=slackNotifications` ?

[2016-03-29 14:50] sergiivolchkov commented on #13
@mr-fixit no, it's not. The admin page has Slack connection settings and notification features.

Project-specific config pages like `http://teamcity.YOURTEAM.link/slacknotifications/index.html?projectId=YOURPROJECT` is where build events triggering notifications are configured. Those settings can be redefined for individual builds or subprojects, but it is not possible to configure them for Root p

[2016-03-29 17:34] mr-fixit commented on #13
Thanks, @sergiivolchkov. I'd forgotten trudging around the UI, creating SlackNotifications for every project.  Eventually I created a script to ask TeamCity-API for every active project, then generated the URLs for the right page.  Still painful, but less.

[2016-03-30 18:55] kidmillions opened #78 "Linking artifacts"
Feature request! We have a set of artifacts in our build and we'd love to link them in slack notifications. Ideally I could just enter the filepath of the artifact I expect and add that to the notification. Thoughts?

[2016-04-06 15:06] csidorchuk commented on #35
+1 (currently can't deploy this for my organization since I can't filter on branches)

[2016-04-13 02:11] thedataking opened #79 "Icon scaling issues"
Hi, thanks for all your hard work! I got slack notifications up and running just fine. However, the icon looks very bad (after scaling I presume) – see the attached image. I'm using the default [TC logo](https://raw.githubusercontent.com/PeteGoo/tcSlackBuildNotifier/master/docs/TeamCity.png).

<img width="122" alt="tc_icon" src="https://cloud.githubusercontent.com/assets/4011337/14480871/ee68b632-

[2016-04-13 05:02] PeteGoo commented on #79
Ugh. Anyone else seeing this?

[2016-04-13 05:39] squalsoft commented on #79
Yes, problem exists on custom images too.

[2016-04-18 15:53] kblanks commented on #79
I've found that uploading the desired icon to Slack directly (via the integration configuration) and then entering `.` into the image URL bit of the plugin works.

![plugin config](https://i.imgur.com/gHBbhY0.png)
![slack output](https://i.imgur.com/BI8sKRm.png)

[2016-04-18 22:18] PeteGoo commented on #79
Hmmm. Must be just a resizing problem. Maybe a manually resized image will work

[2016-04-20 18:37] bondarewicz commented on #79
I've used @kblanks solution and manually uploaded the logo into _Integration Settings -> Customize Icon_

[2016-04-22 20:31] thedataking commented on #79
@kblanks @bondarewicz I'm not sure what this procedure is... would you mind elaborating? thanks!

[2016-04-25 00:45] PeteGoo commented on #79
Try using the 72x72 image I have just uploaded.
https://raw.githubusercontent.com/PeteGoo/tcSlackBuildNotifier/master/docs/TeamCity72x72.png

[2016-04-25 00:59] PeteGoo commented on #79
Updated in [1.4.5](https://github.com/PeteGoo/tcSlackBuildNotifier/releases/tag/1.4.5)

[2016-04-30 03:03] thedataking commented on #79
Thanks! Works with the new 72x72 image. Still seeing scaling issues using old icon.

[2016-05-10 12:08] LeoHexspoor opened #86 "API Token on project level notification is lost after restart of TeamCity"
API Token's configured on project level notifications are lost after TeamCity is restart.

Repro steps:
1. Create a project level notification with an API Token
2. Restart TeamCity
3. View previously created notification, the API token is lost

Looking in the generated settings XML you can see that the API token is not stored as part of the XML. I believe the problem is in the SlackNotificationCon

[2016-06-02 07:30] Myster opened #88 "Is there any way to configure slack at a template level?"
We have lots of small projects and it would be great to configure slack at a template level.
Is this possible?
Cheers.
Murray.

[2016-06-02 07:32] PeteGoo commented on #88
Like in #62 ? Or different?

[2016-06-02 07:40] Myster commented on #88
I'm not sure, I just would like a blanket failed build notification for all projects, but I'm not sure how to set that up if it's possible. (I was thinking I'd set it up in a Build Configuration Template, but anywhere to achieve the result is fine :-)

[2016-06-02 07:45] PeteGoo commented on #88
Ah, ok. Yeah that has been a long standing request #13.

Hmmm. That might have to be a thing then

[2016-06-02 07:47] Myster commented on #88
Oh yea, great :-) I'll thumbs up on that one. :-)

[2016-06-07 13:03] LendLord commented on #35
+1

[2016-07-07 17:44] nheath commented on #55
surprised to see this didn't already work! would love to have this.

[2016-07-15 09:57] kpa6uk commented on #60
Will this be fixed?

[2016-07-26 07:55] cmakara commented on #35
+1

[2016-07-26 13:21] koerbcm opened #113 "Failure Reasons break upon upgrading to Teamcity 10.0"
We had our build results outputting elapsed time and reason for failures, which always gives us "Process exited with code 1", and Fail Tests to our slack channel. We upgraded on Monday morning, and since I brought everything back up, the elapsed time and reason persist, however, the failed tests no longer show. The config hasn't changed and still states it should be sending them.

[2016-07-27 11:18] PeteGoo commented on #113
Hmmmm. Haven't had a chance to test against TC 10 yet

[2016-07-27 12:41] koerbcm commented on #113
Had a feeling. Just wanted to throw this your way. :-)

[2016-08-04 05:30] pointerxr commented on #74
Thanks for reporting this @mr-fixit

I got your point and this indeed seem to be a bug, as you have already said what needs to be done would you mind do a PR?

[2016-08-04 05:45] pointerxr commented on #60
@kpa6uk will have a look when I'm at home.

[2016-08-04 08:01] pointerxr opened #116 "Refactoring of the codebase"
Hiho,

firstly thanks @PeteGoo for all the work u have done here, its a very nice project.

I know you needed the project for your own work and thus you probably didnt invest much time in planning/analysing, but right now I found it hard to read your code because it is not very well structured, one whole module is completely empty and there is 0.0 documentation about anything (not even docs in cod

[2016-08-04 10:31] PeteGoo commented on #116
It actually started life as a fork of another project and diverged quite considerably from the original. It's well overdue for a bit of a refactor and hopefully make it a bit more idiomatic.

Would love any help in making this happen.

[2016-08-04 11:13] pointerxr commented on #116
@PeteGoo, thanks for the reply.

I didn't know it started as a fork because I don't see any reference on that, sorry for the blame :(.

I would like to help you out with it! But at the first place I need to understand the old code and classes with over 600 lines of code make that considerably hard to achieve, but I try my best when I'm at home!

[2016-08-04 11:27] PeteGoo commented on #116
Don't worry about blame. I've probably not helped the structure as I monkey patched it over time. I basically added what I needed initially and a few small features that were requested. To be honest I thought it would be "done" by now.

I'm not precious about the codebase.

I think it would be good to remove the rest-api module for a start. The responsibilities between configuration, model, slack

[2016-08-04 11:32] pointerxr commented on #116
That's a good start indeed, but it should be done within a matter of minutes, since it has no code :dancer:.

Altough another thing I would actually like on basically any project is

- codestyle rules / checkstyle / pmd / findbugs
- coverage reports

Also travis CI configuration should be **completely** stored in version control, it does not look like it is right now.

I would do that before actua

[2016-08-04 11:37] PeteGoo commented on #116
coverage reports are snake oil in my book but ide code style rules / editorconfig etc are definitely a bonus.

[2016-08-04 18:21] pointerxr commented on #60
The bug is, that both configurations don't get merged with each other.

I do not implement this as we are going to refactor the complete codebase.

[2016-08-04 18:23] pointerxr commented on #74
Right now the Notificator interface doesnt message us when the build status is actually canceled.

This might be added in a future version of the API.

[2016-08-04 18:25] pointerxr commented on #72
same issue as #60

[2016-08-04 18:36] pointerxr commented on #55
will implement this after the refactoring (or maybe just with it)

[2016-08-04 18:37] pointerxr commented on #76
@mcctomsk do you have a real example of such a post?

[2016-08-05 02:12] BHare1985 opened #119 "Templated slack messages"
Currently our company uses the standard github notifications that run when a new pull request is submitted. Unfortunately that doesnt mean the build tests have fully completed yet so sometimes we review a pull request and have to wait on the tests to finish.

What I want to request is ability to notify slack of new request build passes. I know that can be done right now but the notifier only gives

[2016-08-05 03:28] PeteGoo commented on #119
I see, the way we handle this in our company is to use a label on the PR called `ready for review`. We then have an api that received webhooks from GitHub that posts to Slack when a PR is ready for review.

This means that the PR author is deciding when it is ready for review. I push loads of times to a PR branch before I'm ready for someone to look at it.

I did a talk on this, [the slides should

[2016-08-08 16:46] mwang2016 commented on #63
+1

[2016-08-09 06:52] pointerxr commented on #63
Hi @DominikPalo

thanks for this feature request. Before adding new features we need to refactor our codebase, after that adding new features will get easier for us and will be less time consuming. Unfortunetly this also means it might take some time until we can implement this feature, but it sounds great :).

[2016-08-10 02:42] mcctomsk commented on #76
@pointerxr now I think may be it's not a TeamCity problem. We use visual studio online and its git repository with turned on "Alternate authentication credentials". We've one of users who commit changes to git from only one computer and when TeamCity build new build each time we've in slack message with one of **three** variant of users name: "Changes By dgo" or "Changes By d.f.goryunov" or Change

[2016-08-11 07:03] mcctomsk commented on #76
@pointerxr thanks! Your question made me analyze the problem more deeply. Now I found that it depends from a IDE which developers use. If they use VS we get name from profile in visual studio online, if something else we get only right part from e-mail.

[2016-08-11 08:12] pointerxr commented on #76
@mcctomsk I guess that's good to know then! Is there any relation now to this issue or something that needs to be changed on our side?

[2016-08-15 07:52] mcctomsk commented on #76
I don't have any questions after I reread this article https://github.com/PeteGoo/tcSlackBuildNotifier/wiki/User-Configuration. Thanks!

[2016-08-15 08:39] pointerxr commented on #76
Closed then :)

[2016-08-15 08:39] #76 closed

[2016-08-19 06:53] #86 closed

[2016-08-19 16:50] pointerxr commented on #77
This can be resolved by running the plugin in a different context.

[2016-08-23 21:28] jhurwitz commented on #46
@PeteGoo any updates?

[2016-08-27 14:25] pointerxr commented on #46
Can someone tell me if this is working now?

Because there was a PR that should have fixed it.

[2016-08-27 15:00] jhurwitz commented on #46
My bad :). I saw the issue was still Open and didn't read the full thread or see the PR.

I see #68 was included in release 1.4.5; we're still running 1.4.4. Sounds like an update will fix this for us. Thanks!

[2016-08-27 15:03] pointerxr commented on #46
Thanks! Would be much appreciated!

[2016-08-27 17:24] pointerxr commented on #79
closed

[2016-08-27 17:24] #79 closed

[2016-08-27 17:25] pointerxr commented on #88
Closing this in favor of #13 then.

[2016-08-27 17:25] #88 closed

[2016-08-27 17:30] pointerxr commented on #119
@BHare1985 does this help you or yo you still want this?

[2016-08-27 17:33] pointerxr commented on #72
closed see #60

[2016-08-27 17:33] #72 closed

[2016-08-27 17:34] pointerxr commented on #71
I'm seeing this excactly as @PeteGoo, there for I add this for a possible feature, but low priority.

[2016-08-27 17:35] pointerxr commented on #69
@thomasd3  Can you please tell me if this behavior is still happening after upgrading to the latest release?

[2016-08-27 17:37] pointerxr commented on #59
The behavior you describe is correct, it should be the case that all sub projects are being notified as well.

If that's not the case please leave a message.

Also, make sure to upgrade to the latest version of this plugin.

Thanks!

[2016-08-27 17:38] pointerxr commented on #58
Please open a new issue if you believe the setup process is awkward as it is not related to the issue you describe in the original description.

Or just tell me here and I do it for you.

For now I close this as it seems to be pretty old.

[2016-08-27 17:38] #58 closed

[2016-08-27 17:43] pointerxr commented on #119
Closing in favor of #63

[2016-08-27 17:43] #119 closed

[2016-08-29 21:15] jhurwitz commented on #46
This appears to still be broken for us. TeamCity 9.1.5, tcSlackBuildNotifier 1.4.6.

[2016-08-30 06:31] pointerxr commented on #46
Thanks for the feedback!  Can you show me what's wrong exactly?

[2016-08-30 07:02] jhurwitz commented on #46
This is what I see (test names redacted):

![screen shot 2016-08-29 at 11 39 07 pm](https://cloud.githubusercontent.com/assets/591990/18078771/23d5d584-6e42-11e6-8ec0-dfe69304920b.png)

The user who broke the build (vgod) says he was not notified. I also find it interesting that the @mention text is black and non-clickable, whereas normal @mentions are blue and show the user's profile when clicked

[2016-08-30 07:28] 103683 commented on #113
It's a bug, not question. Failure reasons don't show in teamcity 10.

[2016-08-30 12:48] koerbcm commented on #113
I'm not a java guy, but I have looked around. No idea what the issue could be, but seeing as thou the failure reason seems to always be, `Failed tests detected, Process exited with code 1` some context around that within Slack again would be pretty great and make this tool a lot more powerful. Appreciate what you guys do. Thanks.

[2016-09-02 13:48] mihasK opened #123 "Include triggered_by information into notification"
It would be cool to have a possibility to include triggered_by:
a user, or system(some trigger).

[2016-09-02 14:34] pointerxr commented on #123
Hello,

thanks your suggestion.

It would be cool if you could tell us in a bit more detail what you want.

Thanks in advice,
Pointer

[2016-09-03 10:35] mihasK commented on #123
I would like to have a checkbox  "Show who is triggered the build" on notification content panel (alongside with "Show committers", "Show build agent").
If the checkbox is set, a notification message will include such a sentence: "The build is triggered by john_doe". Or, if not a user but some trigger (schedule, VCS, etc.) runs the build, the sentence could be "The build is triggered by VSC trigge

[2016-09-04 16:03] pointerxr commented on #123
Thanks for the detailed explanation! :)

[2016-09-05 14:40] mihasK commented on #123
how much chances are that it will be implemented soon, or I should rather try to patch the code by myself (I don't think I'm able to make a full-fledged pull request, but just put this info in notification message somehow is in my power)

[2016-09-05 14:44] pointerxr commented on #123
Hi,

Unfortunately there are other issues with higher priority. So I believe your chances are fairly low. A refactoring of the current t code base should take place before we implement new features.

You are very welcome to open a PR so that we can use the code in an upcoming release.

Best regards
Pointer

[2016-09-20 06:23] staffan-einarsson opened #124 "Failed to Start builds are never "fixed""
This is an issue relating to consistency. When a build fails after it has started, the Only trigger when build changes from Failure to Success works as expected.

However, if a build fails to start, for example due to incorrect build configuration, the first success after the failure does not trigger a notification. The consistency problem is that Failed to Start is considered a Failure when a fai

[2016-09-22 10:04] dimitrijer commented on #63
+1

[2016-09-26 13:48] koerbcm commented on #55
+1

[2016-10-24 17:51] koerbcm commented on #113
Any thoughts on what could have happened to cause this?

[2016-10-25 10:41] pointerxr commented on #113
Can someone please provide some information on what the expected result should be?
(Screenshots would also be great)

[2016-10-25 16:10] koerbcm commented on #113
Here you go @pointerxr. Is this what you were looking for? Does this help? Thank you so much for reviewing this for us.

Before Teamcity 10 (Failed Tests show):
![screen shot 2016-10-25 at 10 06 14 am](https://cloud.githubusercontent.com/assets/1521452/19694044/0847687a-9a9b-11e6-886e-c5c6d93e1a78.png)

After Teamcity 10 (Failed tests no longer show):
![screen shot 2016-10-25 at 10 07 03 am](https

[2016-10-25 16:17] koerbcm commented on #113
Guess there is proprietary info in the screenshots. gonna edit them and post again.

[2016-10-25 16:41] pointerxr commented on #113
You dont need to, I got it ;)

[2016-10-25 16:50] pointerxr commented on #124
Thanks for participating!

I will take a look when I got some time :)

[2016-10-25 16:51] pointerxr commented on #75
Is this here still valid?

If yes please add proper information to it.

[2016-10-25 18:54] fms615 commented on #75
Hey Marvin,

I don't use the slack notifier any more, do to bugs (failed/missing
notifications) so I don't know if it is still valid.

On Tue, Oct 25, 2016 at 9:51 AM, Marvin Wichmann <notifications@github.com>
wrote:

--
Farzan

[2016-10-25 19:06] PeteGoo commented on #78
Would your slack users be authenticated TeamCity users @kidmillions?

[2016-10-26 01:20] kkaung opened #125 "Build notification link points to wrong IP"
We have TeamCity setup on an AWS EC2 instance.  Initially setup was fine.  All notifications on our Slack channel went to the IP of the EC2 instance to the corresponding build.  We had to upgrade our EC2 instance recently which also changed IP.  Now our notifications point to the old IP instead of the new.  Not sure where to go to change this.

[2016-10-26 05:51] pointerxr commented on #125
Hi @kkaung,

I don't think this problem is a bug in the plugin, we do use SBuildServer to obtain the root IP Address.

			´setBuildStatusUrl(server.getRootUrl() + "/viewLog.html?buildTypeId=" +
buildType.getBuildTypeId() + "&buildId=lastFinished");´

[2016-10-26 05:52] pointerxr commented on #125
Check this as well: https://confluence.jetbrains.com/display/TCD10/Configuring+Server+URL

[2016-10-26 05:54] pointerxr commented on #113
I'm gonna take a deeper look today in the evening/ weekend when I have more time to debug and stuff.

[2016-10-26 15:34] g7r opened #126 "Show VCS branch name in build notification"

[2016-10-26 18:08] pointerxr commented on #126
The VCS branch name is only showing for branches other than default and this is working as intended.

I'm gonna close this therefore as I can't find any details in the description.

[2016-10-26 18:08] #126 closed

[2016-10-26 18:12] g7r commented on #126
OK

[2016-10-27 21:35] jrmuir opened #127 "Getting duplicate success/failure messages"
Using TC 10.0.1 and the latest master build of tcSlackBuildNotifier we're getting duplicate notifications.  If I check off include build time one message will include it, but not both.

Misconfig on my part?  Intended?

Example output where "Robot Overlord" is the botname:
[code]

[2016-10-29 00:26] kkaung commented on #125
I had a feeling it was on TC!  I couldn't find that setting.  Thank you @pointerrr!

[2016-10-29 00:26] #125 closed

[2016-11-05 12:14] jamesmbourne commented on #127
I'm on TeamCity 10.0.2 with v1.4.6 of the plugin and experiencing the same issue. We're receiving 1 build start notficiation, but then 2 success/failure notifications.

[2016-11-08 08:23] enricmarques opened #128 "Include commits from snapshot dependecies"
In TeamCity you can specify in a build configuration to show the changes from the snapshot dependencies.

![capture](https://cloud.githubusercontent.com/assets/903431/20091747/b33b8302-a594-11e6-8e84-b17eb41852f3.PNG)

This setting should be taken into account when notifying through Slack.

[2016-11-08 08:28] enricmarques opened #129 "Do not split commit descriptions into several lines"
I don't know if this is a Slack API Attachment issue, or a tcSlackBuildNotifier issue, but in the list of commits, the description is truncated (like if there were a 80-characters limit).

![capture](https://cloud.githubusercontent.com/assets/903431/20091943/af775588-a595-11e6-9ac6-0e76a9554a37.PNG)

[2016-11-08 08:45] pointerxr commented on #128
What exactly should happen if the field is checked and what if it is not checked?

[2016-11-08 08:50] pointerxr commented on #129
Can u give me an example of a full commit message? (according to your screenshot)

I don't speak spanish so I don't really see what's the problem here

[2016-11-08 09:02] enricmarques commented on #128
I have a TeamCity project A that has a snapshort dependency to another TeamCity project B. If there is a new change in the repository of project B, TeamCity will start a build of project B, and if succeeded, then TeamCity will start a build for proejct A.

In this case, when I check the list of changes in TeamCity for the new build of project A, I will see the change of project B.

Currently, the

[2016-11-08 09:08] enricmarques commented on #129
When I say truncated, I mean that the text has been split in two lines, when I fits in a single line.

[2016-11-08 14:30] timotyweis commented on #127
@jrmuir and @jamesmbourne, could it be that you have the **Build Almost Completed** flag active in the project settings? I experienced the same, but after de-activating this event I'm only receiving one notification.
Could it be that the notification's title is misleading ("Success" instead of "Almost completed")?

[2016-11-08 14:54] jamesmbourne commented on #127
@timotyweis I've just changed that configuration for my projects and this has resolved the issue for me. I now only recieve one notification per build completion. Thanks! 👍

[2016-11-08 16:42] danieljimenez commented on #55
+1

[2016-11-08 16:43] danieljimenez opened #130 "Show build runner in notifications"
Love the plugin! We use TeamCity for server deployments and would like the ability for the plugin to show who ran the build. Thanks for the consideration!

[2016-11-08 17:36] pointerxr commented on #127
Thanks @timotyweis ! Much appreciated.

[2016-11-08 17:47] pointerxr commented on #129
@enricmarques

I'm sorry but we don't split the commit messages.

We use the following code which takes the full commit description:

`sbCommits.append(String.format("%s :: %s :: %s\n", revision.substring(0, Math.min(revision.length(), 10)), commit.getUserName(), commit.getDescription()));`

Here are examples of Slack attachements that are too long, they do get splitted by Slack: https://api.slack

[2016-11-08 17:48] pointerxr commented on #129
I will close this issue as we cannot do anything about how Slack handles attachements.

[2016-11-08 17:48] #129 closed

[2016-11-08 18:02] jrmuir commented on #127
That's exactly it.  The message isn't indicating almost success, just success.

[2016-11-15 19:42] iwasrobbed opened #132 "Triggering custom notification from command line / build script"
In scenarios where the build script has custom output, such as code coverage reporting, it would be nice if we could trigger a custom Slack notification to be sent from a build script. In this example, something like "Code coverage is now: 92.1%"

Would this be possible?

Seems like a possible duplicate of https://github.com/PeteGoo/tcSlackBuildNotifier/issues/63

[2016-11-16 07:46] PeteGoo commented on #132
I think this would be pretty hard to do from a script. Unless someone else has an idea?

[2016-11-16 08:31] PeteGoo commented on #128
Hmmmm. I guess the API might be wrong

[2016-11-17 11:35] kytwb commented on #35
@PeteGoo what do you mean by "I'll have to see if the branch filter syntax is in a public api"? I'm interested to help getting this out if needed.

[2016-12-06 10:55] martinrehfeld commented on #47
+1

[2016-12-06 12:17] stephanos commented on #113
ah, we just ran into the exact same issue.
is this difficult to fix?

[2016-12-14 06:32] DerFlatulator commented on #35
Also interested in this. For our use case we just want notifications sent for the default branch.

[2016-12-14 18:56] koerbcm commented on #113
@stephanos I haven't found a fix or workaround yet but I don't know Java very well so I haven't been able to really dig in.

[2016-12-26 18:45] holinov commented on #127
Just same! Turning off "Almost complete" helped.

[2016-12-30 18:29] TKammerer opened #134 "Slack Build Notifier Recently Started Failing"
Here is the stack trace from the TC server. It was working well for sometime then out of the blue started to stop working. I'm stronger with C# than java. I have attempted to read through the source but cannot make too much since of it in the short term. Hoping someone here has experienced this same issue.

Dec 30, 2016 1:12:22 PM org.apache.catalina.core.StandardWrapperValve invoke
SEVERE: Servle

[2016-12-30 19:04] TKammerer commented on #134
I found the issue. Someone had changed the "default channel" in the admin area for the Slack Notification to one that didn't exist. I pulled the body and URL from the logs on the TC server and used postman to get the "channel_not_found" response from slack. This should probably be made into an enhancement that surfaces the actual issue instead of the "Attempted read from closed stream" because I'm

[2017-01-11 20:34] tmiller commented on #63
+1

[2017-01-14 17:06] oryagel opened #135 "Exclude specific projects"
Hi.
I configured global notifications from the Notifications Rules of specific group, now we get notifications for all the projects as expected.
I would like to exclude specific projects from these notifications, these are mainly experimental projects that tend to be unstable.

How can I exclude these projects from the notifications?

Thanks

[2017-01-16 17:04] danieljimenez commented on #123
+1

[2017-01-16 17:06] danieljimenez commented on #53
+1

[2017-01-16 17:06] danieljimenez commented on #78
+1, ours would be authenticated TC users.

[2017-01-16 18:26] PeteGoo commented on #134
Sorry you experienced this error. Sounds like a good plan for the fix. Thanks

[2017-01-19 09:47] halldorfannar commented on #55
Any update on this issue?

[2017-01-25 08:41] merfolk commented on #35
I would also like to get slack notifications only for `master` and `release-*` branches, and not of any feature branches which there are plenty.

[2017-02-07 12:05] gregopet commented on #18
Thank you for this feature, it was sorely missing :+1:

[2017-02-09 12:07] payman81 commented on #130
Is there a plan to work on this feature?

[2017-02-16 10:41] abdulhaseeb26 opened #136 "Count of failed and passed tests not showing"
I have installed the latest version of plugin but it does not include the information about the count of test cases passed or failed

[2017-02-16 13:51] freeyoung commented on #35
+1 for this

[2017-02-17 20:08] nathanielcook commented on #136
Are you using TeamCity version 10 by chance? See https://github.com/PeteGoo/tcSlackBuildNotifier/issues/113

[2017-02-18 03:06] whereisaaron commented on #47
I think this is a duplicate of #13

[2017-02-18 03:11] whereisaaron commented on #13
In a per-user configuration you can watch the root project and thus get global notifications for a user or group of users. However you can't specify a channel as a user name.

If it were possible for users to specify a channel as their user name, this might be another way to achieve global notifications to a channel?

[2017-02-28 08:48] motiazu commented on #135
+1

[2017-03-09 21:48] disophisis opened #137 "Using slack builder notifier to notify us of builds with certain events in the build log"
We'd like to use the slack notifier to tell us when builds (not necessary failed builds) have certain events that show up in the build log.  Looking through the functionality, it looks like it really is just for build events and not for indicating builds that may or may not contain certain information in the log...

Is there some functionality I'm missing that would allow us to do this?

[2017-03-23 10:37] cmakara commented on #35
+1

[2017-04-20 23:01] skion opened #138 "Slack tab missing"
In TC 2017.1 I seem to see the see the "Slack Notifications" tab in the Administration section, but no Slack tab in any of the Projects or Build Configurations.

Could this be due to missing support for TeamCity 2017.1?

[2017-04-27 09:09] bykes commented on #63
https://github.com/PeteGoo/tcSlackBuildNotifier/pull/133

[2017-04-28 19:13] stevenmah commented on #138
Also can't seem to find the tab for 10.0.4 either

[2017-05-10 00:51] johnwenaus opened #139 "Notify by buildtype is not usable"
A project may have a number of build types. For instance
- Build
- DeployToSandbox
- DeployToProduction.

I'd like to send a notification to a particular slack channel only if a deployment to `Production` is `successful`

In the current implementation, we have to specify the buildtype id. Unfortunately the buildtype id is an internal id created by teamcity.  This `id` is not visible even via https

[2017-05-14 11:40] danieljimenez commented on #138
FWIW it's working for me in 2017.1. I see the tab on all projects but root.

[2017-05-14 19:59] PeteGoo commented on #138
@skion can you confirm if you can see it on non root projects?

[2017-05-14 20:01] PeteGoo commented on #139
@johnwenaus this is possible. You should see a tab on the build configuration page

[2017-05-14 20:03] PeteGoo commented on #137
@disophisis this might be possible using Teamcity failure conditions

[2017-05-16 21:19] aaron-0 commented on #13
I'd love to see global notifications as well. Additionally it would be good if I could set a filter on name. For instance I want to notify a specific channel whenever one of my deployment builds fails.  They are all consistently named so easy to filter.

[2017-05-21 03:13] danieljimenez opened #140 "Slack Username field missing"
I noticed the slack username field is missing on the user's profile in TeamCity 2017.1.1 (build 46654).

[2017-06-06 15:30] nmb88 commented on #138
I believe I may have figured out @skion's issue.  I also didn't see the Slack tab on build configurations or projects (root or otherwise), but the "Slack Notifications" _is_ in the Administration screen.  I'm on TeamCity 10.0.0.  I thought I may be looking in the wrong place:

![image](https://user-images.githubusercontent.com/17556044/26837157-ef897bca-4a99-11e7-9ba1-264c2487968c.png)

Turns out

[2017-06-07 10:50] skion commented on #138
Very strange, I should have made some screenshots, it seems to work fine now. Could it be that the Slack tab only appears after configuring Slack in the Administration panel?

[2017-06-07 10:50] #138 closed

[2017-06-21 08:34] endasil opened #141 "Notifications from TC stopped working"
Something has happened preventing slack notifications from beeing sent from TC and I am not sure how to solve the issue When attempting to send slack notifications from the admin interface the following error message can be seen in TC logs.

jun 19, 2017 6:16:38 FM org.apache.catalina.core.StandardWrapperValve invoke
SEVERE: Servlet.service() for servlet [buildServer] in context with path [] threw

[2017-07-05 18:33] bronumski commented on #55
If anyone is up for the challenge I think it is as simple as calling `isPersonal` on `SRunningBuild` in `SlackNotificationListener` `private void processBuildEvent(SRunningBuild sRunningBuild, BuildStateEnum state)`

http://javadoc.jetbrains.net/teamcity/openapi/9.1/jetbrains/buildServer/serverSide/SRunningBuild.html

[2017-07-14 14:19] bronumski opened #142 "Failed to dispatch failed build notification"
Just got this error after a build failure and no slack notification. This is the second build in a build chain with snapshot and artifact dependencies.

`
[2017-07-13 22:57:47,596]   INFO -   jetbrains.buildServer.SERVER - SlackNotificationListener :: Preparing message for URL https://hooks.slack.com/services/#########
[2017-07-13 22:57:47,596]   WARN - ildServer.util.EventDispatcher - Error in ev

[2017-07-17 03:31] ryangribble commented on #141
We had this problem and eventually figured out it was due to a conflict with another TeamCity plugin (in this case TeamCityRallyIntegration).  We weren't really using the latter so we simply removed it and everything has been great since

[2017-07-28 20:01] bronumski commented on #142
Got the same issue without any build chain. The only thing special about this build is that it uses branch building.

`
[2017-07-28 09:44:22,496]   INFO -   jetbrains.buildServer.SERVER - SlackNotificationListener :: Preparing message for URL https://hooks.slack.com/services/####
[2017-07-28 09:44:22,496]   WARN - ildServer.util.EventDispatcher - Error in event handler: java.lang.IndexOutOfBoundsE

[2017-08-05 03:34] #132 closed

[2017-08-17 11:05] fatso83 opened #143 "Slack tab missing in TC 10.0.5"
The readme says

Is this tab something I need to manually enable, or is it only available in 2017 versions of TeamCity? I am running `TeamCity Professional 10.0.5 (build 42677)`. The reason I need is that I want to disable global reporting to the default channel and rather specify it per-build configuration. I am not interested in failed builds on the pull requests, for instance, only on the main

[2017-08-17 11:08] #143 closed

[2017-08-17 11:15] fatso83 commented on #143
I tried googling this and found that this duplicates #138. It seems that I mistook "Project" (which is under the main "Projects" category), for  "Project settings" (which is under "Administration").

It still doesn't show any tabs at all in the Build *configuration* page, though, so this might indicate an documentation error? It does live under both the project and build (no configuration) page.

[2017-08-24 12:23] voiplab opened #145 "Comment in notification"
Hello. Thanks for the great plugin.

Could you please add new feature: we're really need to see comment in slack notifications

Thank you

[2017-08-29 11:31] github-abcde commented on #139
I'm experiencing the same problem. Configuring the notification settings using the Teamcity web-interface works fine, however, I'm deploying and configuring Teamcity automatically by placing the right (templated) files in the right places, and do not have the ability to retrieve the internal Teamcity build-type-ID (for example using the Teamcity API). When using the API to list the currently confi

[2017-08-31 12:48] Sephon commented on #46
Any update on this, at least a workaround like the one jhurwitz mentioned would be very appreciated.

[2017-09-25 07:17] mpluta-airhelp opened #146 "[Question] How to configure build notifier in 2017.4 TC with Kotlin"
Hello,

First of all - great plugin and it was a blast using it. "Was" because we moved to TC 2017.4 with Kotlin based configuration and struggle to find a good source on how to configure it using new TC Kotlin DSL. Can you point us to a good solution?

Best regards
Mateusz

[2017-10-06 00:20] pawelpabich opened #147 "Extend watch rule with `Builds Triggered By Me` option."
Hey,

The plugin is great and thanks for your work.  As it is a case with Slack at some stage you get too many notifications :). In my case this happens when someone creates a branch off a branch with my changes that has not had a green build yet.  Every time their build fails I get a notification. `Triggered by me` option would help reduce the number of unnecessary notifications.

![image](https:

[2017-10-22 19:15] pointerxr commented on #146
Hi @mpluta-airhelp,

thanks for reaching out! In fact, no we don't have right now, I'm afraid. I might take a look into it when I got some spare time, but right now it doesn't look like your request will be processed very soon. I hope I can have a look at it asap, but I can't promise anything.

[2017-10-22 19:17] pointerxr commented on #147
Sounds like a reasonable change. Unfortunetly I can't tell you when I can work on it - feel free to contribute a PR in order for this be implemented faster.

[2017-10-23 00:36] pawelpabich commented on #147
@pointerrr I fully understand that.  I see what I can do.

[2017-10-24 09:39] pointerxr commented on #141
Thanks for the heads up :)

[2017-10-24 09:39] #141 closed

[2017-11-08 18:37] StephenDrewLDS commented on #134
I'm also getting this error, but the channel exists (private channel) and the test notifications work.  Any ideas?

[2018-02-06 08:50] cottsak commented on #127
Same: disabling **Build Almost Completed** made the duplicate go away.

[2018-02-07 18:33] PeteGoo commented on #127
Yeah, that almost complete had never been useful to anyone I suspect. Sorry

[2018-02-08 01:18] cottsak commented on #127
@PeteGoo Don't be sorry. I've seen heaps of builds that take >10 mins. Some even hours.

These days however, if you need a "almost complete" notification, then you probably should be solving a different problem.

[2018-02-14 00:11] edhaack opened #151 "Question: Bad Link on Running - Not a bug, maybe a configuration setting?"
First: Thank you @PeteGoo for one of my staple TC Plugins! I've used it for several years now, without problem... until I changed jobs, and put it on a TC box running 2017.1.3 (an earlier version than I was using at my previous location - and it was working fine): Version 1.4.4 (I know I even tried the latest version, 1.4.6, same results...)

I've checked the log for the request being made to Slac

[2018-02-14 19:48] waelouf commented on #46
I believe pull request #149 fixed this issue

[2018-02-21 16:30] amir-najjar commented on #151
I did not see anywhere where you can set the configuration base link, so I think it's a bug which started occurring on newer releases of TeamCity

[2018-02-21 17:03] edhaack commented on #151
What's odd is... I'm using just one minor release/version older of TeamCity that I knew it was working on.

It may actually be with Slack itself. Handling of <http://url.com|text here> syntax doesn't always work correctly. Example: <http://www.google.com|google>

Unless I'm missing something.

[2018-02-27 20:49] chasen commented on #63
Are there any updates on this?

[2018-03-08 22:53] xalikoutis commented on #127
Hi guys i am on teamcity 2017 where is this flag? Cant find it....

[2018-03-14 09:24] Sharparam commented on #140
On 2017.2.2 (build 50909) I am able to see it by going to my profile (My Settings & Tools) -> Notification rules -> Slack notifier.

[2018-05-10 13:27] pjohnkeane commented on #113
Hey - anyone know if this is specifically impacting TC10, or if it's TC10 and later?

[2018-05-21 15:01] daveh79 opened #157 "API Token field gets blanked on server restart"
Every time we restart the Team City server the API Token field in the Slack Notifications settings window is removed. Do you know why this would happen?
![2018-05-21 11_00_44-teamcity](https://user-images.githubusercontent.com/5502756/40314353-422dc78c-5ce6-11e8-8acf-b824ca68b448.png)

[2018-05-22 12:06] daveh79 commented on #157
I ran an upgrade to version 2017.2.4 this morning and it also blanked out the API Token field.

[2018-05-22 12:07] marvin-w commented on #157
Thanks @daveh79. Do you have any logs from your server which you might be able to share with us?

This is only for the case that we can't reproduce the issue.

[2018-05-22 12:09] daveh79 commented on #157
Sure, here you go.
[teamcity-server.log](https://github.com/PeteGoo/tcSlackBuildNotifier/files/2026490/teamcity-server.log)

[2018-05-22 12:13] marvin-w commented on #157
Thanks @daveh79.

It appears that your slack URL is broken (I'm unsure if thats connected to the mentioned issue):

`[2018-05-22 08:01:57,152]   WARN -   jetbrains.buildServer.SERVER - .slack.com
java.net.UnknownHostException: .slack.com`

[2018-05-22 12:53] daveh79 commented on #157
I agree that the slack URL is broken but we think it's because the API Token is being removed.

[2018-05-22 12:57] marvin-w commented on #157
Yea, could be. I'm very busy lately, I hope I can take a look in it soon but I can't promise anything.

[2018-06-17 14:53] misli opened #158 "API Token field doesn't seem to support parameter expansion"
API token value is secret. There should be an option to expand build parameters for it, because the configuration may be stored in the VCS.
(If the parameter expansion IS enabled, it is not clear, how to use it.)

[2018-06-23 17:40] schuettecarsten opened #159 "Use "default" user name when no Slack name is configured"
We are importing about 1500 users into TeamCity using LDAP.

When no Slack user name is configured, please use the default teamcity user name - if this is not possible in general for other users, then maybe add an option to active this.

[2018-08-02 00:45] mmp788 opened #160 "Default settings override Project specific settings"
The settings for default channel under Administration > Default Channel seems to result in notifications always being posted to that channel, even when project or build level notifications are set to a different channel

[2018-08-03 22:23] jsauter opened #161 "Disabling plugin does not actually disable plugin"
In our test TC instance, we noted that disabling the plugin via the disabled_plugins.txt as well as the global disable button in the admin screen did not actually disable the slack notifications for projects.  We had to go to each configured instance of notifications and disable them there.

Note, this was an environment that we migrated TC into from production for testing.  Would that have anythi

[2018-08-21 08:35] laurencee commented on #46
Yeah that looks like it'd fix the issue but there doesn't seem to be a recent release that includes that change.
@marvin-w

[2018-09-05 17:35] max-10001 opened #162 "There is no way to specify branch filters for which notifications should be slacked"
There is no way to specify branch filters for which notifications should be slacked.
Can we consider this as an enhacement.

[2018-09-05 17:38] #162 closed

[2018-09-05 17:38] max-10001 commented on #162
Duplicate of
https://github.com/PeteGoo/tcSlackBuildNotifier/issues/35

[2018-09-26 11:28] OleKristianH commented on #35
+1

[2018-09-28 08:31] mark88atjutten commented on #145
I would like to extend this request and allow for more customizable content such as adding build parameters to the message.

[2018-09-28 22:30] IanYoder commented on #46
@PeteGoo @marvin-w Any chance we can get a new release, since the bug has been fixed? Anything I/we can do to help a new release get created?

[2018-10-09 11:39] marvin-w commented on #46
@IanYoder @laurencee sorry for the delay.

Release is here: https://github.com/PeteGoo/tcSlackBuildNotifier/releases/tag/v1.4.7

[2018-10-09 14:38] mookid8000 opened #163 "Getting channel_not_found, even though the channel exists"
I configured the notifier to send notifications to a channel called `#teamcity`, and the "Send test notification" works as it should.

When I configure Slack Notifier under "Notification Rules" for my user account on TeamCity, I cannot seem to configure it to correctly notify my Slack user when I break the build.

I configured the Slack Username to be `Mogens Heller Grabe`, but the TeamCity Server

[2018-10-10 15:04] jsauter commented on #161
2017.1.3

[2018-10-10 15:14] jsauter commented on #161
2018.1.1

[2018-10-26 15:15] laurencee commented on #46
@marvin-w Unfortunately mentions still don't appear to be working, it's just basic `@blah` text.

[2018-10-29 15:42] IanYoder commented on #46
@marvin-w @laurencee If I'm reading everything correctly, I don't think the change made it into the release.

You can see [here](https://github.com/PeteGoo/tcSlackBuildNotifier/compare/v1.4.6...master) that line 333 of tcslackbuildnotifier-core/src/main/java/slacknotifications/SlackNotificationImpl.java appears to contain the fix, but that line wasn't changed as part of [the release](https://githu

[2018-10-29 16:10] laurencee commented on #46
Oh... well that makes a lot of sense then! haha

[2018-10-29 20:38] marvin-w commented on #46
@IanYoder @laurencee Thanks for your feedback. As far as I know the code from @waelouf  was merged and is available in the current release: https://github.com/PeteGoo/tcSlackBuildNotifier/commits/v1.4.7

If it doesn't work there might be another issue which isn't fixed already.

[2018-10-29 22:09] IanYoder commented on #46
@marvin-w I see the change now - thank you. I'll let you know if it's working as soon as we're able to update the version and test it out.

[2018-11-20 17:10] IanYoder commented on #46
@marvin-w We were able to update the plugin today, and I confirmed that the notification worked - thank you!

One suggestion I wanted to make, though: would it be possible to add some configuration to notify someone of subsequent failures, rather than just the initial failure? I didn't realize that the update was working right away, because I wasn't notified when I re-ran a broken build, or even w

[2018-12-04 18:16] hwcc opened #166 "Notifier does not work for Composite build configurations"
Repro:
1) create a project with a few sub-projects
2) create a composite build config under the main project level. Set all the sub projects as dependencies to the composite build config
3) set up slack notification on the build config level to notify when build successful or failed
4) run the build config

expected result:
Slack should have notification for the composite build config for successf

[2018-12-17 12:01] Alucard1766 commented on #35
+1

[2019-01-11 21:30] cycotek opened #167 "Teamcity 2018.2.1 (build 61078) builds tabs blank."
The builds tab is now blank when adjusting or creating a new notification, tested this on 2 seperate Teamcity servers in different environments. After upgrade to 2018.2 the build tab no longer has builds list of jobs listed under the project. Unable to adjust any build notifications under any project, build or sub.

![tcslack](https://user-images.githubusercontent.com/8704581/51060519-3b4df100-15a

[2019-01-11 22:30] marvin-w commented on #167
Hi @cycotek, I'm sorry to heat that. Unfortunately the owner of this repository is no longer actively maintaining this plugin. The codebase is very old and I doubt that this would be an easy fix. If I have a lot of time I might consider looking into it but since I don't use TeamCity myself this is not very high on my prio list.

[2019-03-18 08:51] pawstern95 opened #168 "RocketChat compatibility."
Some time ago our team moved from Slack to RocketChat. Since RocketChat has Slack Compatible API we wanted to use tcSlackBuildNotifier to notify about our builds. In general it works but links to our builds are not properly formatted and do not directly lead to build, we get `Build with id 'null' not found` instead. After some investigating I discovered that your plugin uses Slack formatted links

[2019-04-15 21:21] mrk-han commented on #78
@PeteGoo
Could you point me in the direction (loosely) on how we can enable this with this plugin?
It would be awesome to link to Artifacts that were generated in the build. (E.G. HTML reports from tests that were ran)

[2019-05-07 18:03] peter-majeed commented on #167
FWIW, this is just a problem with library that this plugin is using to display these tabs. I don't like it, but a workaround for me has been to inspect that element via developer tools, then clear out the css that sets the height for that element to 0px.

[2019-05-14 08:37] fatso83 commented on #166
This would be really useful.

[2019-06-25 05:41] RamKalikaya commented on #167
Adding to what Peter Majeed said, i have stored small snippet as bookmark url, whenever i need to see the tab content i will just click that bookmark which will set the height to specified pixel.

`javascript:(function(){document.querySelectorAll(".panel-container #buildPane")[0].style.height = "200px";})();`

[2019-07-15 13:39] frankjh3 opened #171 "Sending notifications directly to committers"
Issue #16 addressed the potential of sending notifications directly to users, and had the SlackNotificator class created in response to this. However, this functionality never seemed to make its way into the plugin to be used. I would like to address this by putting in the feature to send directly to users and present this as an option in the project notification settings.

[2019-07-25 18:03] frankjh3 opened #172 "Sending notifications immediately when build status changes"
It seems like, at points throughout the code, `BUILD_CHANGED_STATUS` had been experimented with, and ultimately rejected. It would be useful to add this in, and take advantage of `buildChangedStatus()` to offer the feature of sending notifications as soon as a build changes from success to failure. This change could offer users faster response time to failed tests on Teamcity.

[2019-08-14 13:56] pjohnkeane commented on #135
+1

[2019-09-03 14:02] viktorijasujetaite commented on #35
+1

[2019-09-03 14:03] viktorijasujetaite commented on #35
+1

[2019-09-17 17:52] ivan-vdovin opened #173 "Notification preview"
It would be great to have a way to test your message before actually running TC build.

[2019-10-01 08:17] stijnvanbever commented on #77
Sorry to reply on this old bug. But can you explain how to run a plugin in a different context?
I'm facing with the same issue on TeamCity 10.0.4 (build 42538)

[2019-10-31 11:43] shachar-ash commented on #142
We're facing the same issue.
@bronumski were you able to overcome this issue?

[2019-10-31 17:34] bronumski commented on #142
@shachar-ash I have since left the company but I believe we where still getting it. Sorry I couldn't be of more help.

[2019-11-07 14:22] petrbarton commented on #145
Hello, amazing plugin. I would also like this "adding build parameters to the message". This could be really helpful!

[2020-04-15 12:59] Nachiket26 opened #179 "Send Notificaiton failing with Error message: Unsupported record version Unknown-0.0"
I am using an incoming webhook and I have put the incoming webhook url in the TeamCity Slack Admin page - it has https protocol. The slack webhook POST url seems to working when tried externally through Rest Client.

However, it is failing and throwing following exception for Send Test Notification because of SSL error:

Unexpected Error

This was not supposed to happen. Please provide the error d

[2020-07-31 18:35] #74 closed

[2020-08-18 13:55] tschmidt01 commented on #35
+1

[2021-05-05 18:57] svolpe43 commented on #145
Third this request. This would be a very useful feature.

[2021-10-06 05:47] CVEDetect opened #202 "Dependency org.apache.httpcomponents:httpclient, leading to CVE problem"
Hi, In **tcSlackBuildNotifier/tcslackbuildnotifier-core**，there is a dependency **org.apache.httpcomponents:httpclient:4.3.5** that calls the risk method.

[CVE-2020-13956](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-13956)

The scope of this CVE affected version is **[,1.4.15)**

After further analysis, in this project, the main Api called is **<org.apache.http.client.utils.URIUtils:

[2021-10-06 05:47] CVEDetect commented on #202
@marvin-w
Could please help me check this issue?
May I pull a request to fix it?
Thanks again.